.homepage {
    padding-top: 20px;
    padding-bottom: 45px;
    gap: 3px;
    justify-content: center;
    background-color: rgb(210, 230, 236);
}

.homepage h1{
    font-weight:bold;
    margin:0;
    color:black;
    padding-top: 30px;
    padding-left: 102px;
    padding-bottom: 5px;
}

.box{
    background-color: #ffffff;
    width: 100%;
    height: 500px;
    border: none;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box p{
    padding: 20px;
    text-align: justify;
}

.box1{
    padding-left: 250px;
    padding-top: 50px;
}

.box1 img{
    width: 50%;
}

.box2{
    background-color: #ffffff;
    width: 100%;
    height: 300px;
    border: none;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box2 p {
    padding: 20px;
    text-align: justify;
}

.box3 {
  padding-left: 30%;
  padding-top: 5%;
}

.box3 iframe {
  border : 3px solid #f1f1f1;
}

.mp3{
  float: right;
  margin-top: 0px;
  padding-top: 1px;
}

